.center {
    margin: auto;
}

.new-transaction-container {
    display: flex;
    justify-content: right;
    padding: 5px;
    margin-bottom: 10px; /* Optional: add some spacing below the button */
  }
  