<div class="container">
    <form>
        <div class="mb-5 mt-5">
            <h5>Ratings</h5>
            <div class="star-rating" *ngFor="let rating of recipeCriteria.ratings; let i = index">
                <div class="form-check">
                    <input 
                      class="form-check-input"
                      id="ratingCheckbox{{i}}"
                      type="checkbox" 
                      [value]="rating.id"
                      [checked]="rating.selected"
                      (change)="onRatingChange($event)">
                    <label class="form-check-label" for="ratingCheckbox{{i}}">
                        <i class="fa fa-star" *ngFor="let star of [].constructor(rating.value)"></i>
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h5>Nationality</h5>
            <div *ngFor="let nationality of recipeCriteria.nationalities; let i = index">
                <div class="form-check">
                    <input 
                      class="form-check-input"
                      id="nationalityCheckbox{{i}}"
                      type="checkbox" 
                      [value]="nationality.id"
                      [checked]="nationality.selected"
                      (change)="onNationalityChange($event)">
                    <label class="form-check-label" for="nationalityCheckbox{{i}}">
                        {{ nationality.value }}
                    </label>
                </div>
            </div>
        </div>
        <div class="mb-5">
            <h5>Tags</h5>
            <div *ngFor="let tag of recipeCriteria.tags; let i = index">
                <div class="form-check">
                    <input 
                      class="form-check-input"
                      id="tagCheckbox{{i}}"
                      type="checkbox" 
                      [value]="tag.id"
                      [checked]="tag.selected"
                      (change)="onTagChange($event)">
                    <label class="form-check-label" for="tagCheckbox{{i}}">
                        {{ tag.value }}
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>