<div class='card'>
  <div class='card-header'>
    Transactions<!-- {{pageTitle}} -->
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Merchant:</div>
      <div class='col-md-3'>
          <input type='text' #merchantInput [(ngModel)]="merchantValue">
      </div>
      <div class='col-md-2'>Cost:</div>
      <div class='col-md-3'>
        <input type='text' #costInput [(ngModel)]="costValue">
      </div>
      <div class='col-md-2'>
        <button class='btn btn-primary' (click)='submitTransaction(merchantInput.value, costInput.value)'>Submit</button>
      </div>
    </div>
  </div>
</div>