<div class="container">
    <div class="row">
        <div class="input-group m-3">
            <button type="submit" class="btn btn-primary">Search</button>
            <input type="text" class="form-control" id="search">
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <app-filters [recipeCriteria]="recipeCriteria" (updateFiltersEvent)="getAllRecipesMatchingCriteria($event)"></app-filters>
        </div>
        <div class="col-10">
            <div id="recipesId">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Recipe</th>
                            <th scope="col" class="col-2">Rating</th>
                            <th scope="col" class="col-2">Nationality</th>
                            <th scope="col" class="col-4">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let recipe of recipes$ | async">
                                <tr [routerLink]="[recipe.recipeId]" class="cursor-pointer">
                                    <td>{{ recipe.title }}</td>
                                    <td>{{ recipe.rating }}</td>
                                    <td>{{ recipe.nationality }}</td>
                                    <td>{{ recipe.tags.join(', ') }}</td>
                                </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
    
