body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#app-container {
    display: flex;
    min-height: 100vh;
}

#sidebar {
    width: 200px;
    flex-shrink: 0;
    background-color: #333333;
}

#content {
    flex: 1;
    background-color: #DDDDDD;
}